doctype html
head
  title Viewsaurus Dev Harness
  style.
    body, html {
      height:100%;
      width:100%;
      padding:0;
      margin:0;
      overflow:hidden;
      background-color:#fff;
    }
    .wrapper {
      width:1024px;
      height:500px;
      margin:20px auto;
      border: 1px solid #ddd;
      box-shadow: 1px 1px 3px #ddd;
    }
  link(rel='shortcut icon', 
    href='//twilio.com/bundles/marketing/img/favicons/favicon.ico')
  link(rel='apple-touch-icon', 
    href='//twilio.com/bundles/marketing/img/favicons/favicon_57.png')
  link(rel='apple-touch-icon', sizes='72x72', 
    href='//twilio.com/bundles/marketing/img/favicons/favicon_72.png')
  link(rel='apple-touch-icon' sizes='114x114' 
    href='//twilio.com/bundles/marketing/img/favicons/favicon_114.png')
  link(rel='stylesheet',
    href='/css/font-awesome.min.css')
  link(rel='stylesheet', href='/viewsaurus.'+ type +'.css')

body!= content
  script(src='/lib/ace/ace.js')
  script(src='/jquery.js')
  script(src='/underscore.js')
  script(src='/backbone.js')
  script(src='/viewsaurus.'+ type +'.js')